
//formatacao geral das paginas do site
h1, h2, h3, h4, h5, h6, .title{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.title{
    font-weight: bold;
}

/*p{
    font: 16px/180% "Helvetica Neue",Helvetica,Arial,sans-serif;
}*/

.body {
    background-color: #e0e3e5;
}

.div {
    background-color: #e0e3e5;
}
